<h1>Admin Portal</h1>

<div class="card w-96 bg-blue-700 shadow-xl">
    <div class="card-body">
      <h2 class="card-title">Upload Image!</h2>
      <p>Upload a picture to your gallery page.</p>
      <div class="card-actions justify-end">
        <a href="/admin/upload" class="btn bg-blue-100">Upload</a>
      </div>
    </div>
  </div>