<div class="w-1/2 h-500 mx-auto m-10 min-h-full bg-slate-400">
  <h1 class="text-3xl p-5 text-slate-800 font-bold underline text-center">Josh!!</h1>
<div>
  <p class="text-center p-10 text-slate-800 break-words">Find me in app/views/hello/index.html.erb</p>
  </div>
</div>
