<h1>Gallery</h1>
  <div class="container px-5 mx-auto lg:pt-12 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
	<% @pictures.each do |pic| %>
		<% if pic.image.attached? %>
		<div class="flex flex-wrap w-1/3">
			<div class="w-full p-1 md:p-2">
				<%= link_to image_tag(pic.image, style:"width:500px; height:500px"), class: "w-full"  %>
			</div>
		</div>
		<% end %>
	<% end %>
    </div>
  </div>
